@charset "utf-8";

#footerwrap{height:auto;margin-top:45px;padding-bottom:22px;background:#969696;}
#footer{position:relative;width:100%;min-width:350px;max-width:1200px;margin:0 auto;padding-left:0px;}
#footer h1{display:none;position:absolute;left:0;top:52px;}
#footer .menu{overflow:hidden;padding-top:23px;text-align:center;}
#footer .menu li{float:none;display:inline-block;margin-right:15px;}
#footer .menu li a{font-size:14px;line-height:20px;color:#fff;}
#footer .menu li:nth-child(4){margin-right:0;}
#footer .addr{margin-top:21px;overflow:hidden;font-size:14px;line-height:15px;text-align:center;color:#fff;}
#footer .addr li{float:none;padding-left:13px;margin-right:10px;display:inline-block;background-position:0 1px;}
#footer .addr li:first-child, #footer .addr li.phone,#footer .addr li.addr01{clear:both;padding-left:0;background:none;}
#footer .copy{font-size:14px;line-height:20px;text-align:center;color:#fff;}











