@charset "utf-8";

/*폰트설정*/
/* IE 9 does not support @font-face within @media */
@font-face {
    font-family: 'notokr-medium';
    src: url('font/NotoKR-Medium/notokr-medium.eot');
    src: url('font/NotoKR-Medium/notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('font/NotoKR-Medium/notokr-medium.woff2') format('woff2'),
         url('font/NotoKR-Medium/notokr-medium.woff') format('woff'),
         url('font/NotoKR-Medium/notokr-medium.ttf') format('truetype'),
         url('font/NotoKR-Medium/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'notokr-regular';
    src: url('font/NotoKR-Regular/notokr-regular.eot');
    src: url('font/NotoKR-Regular/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('font/NotoKR-Regular/notokr-regular.woff2') format('woff2'),
         url('font/NotoKR-Regular/notokr-regular.woff') format('woff'),
         url('font/NotoKR-Regular/notokr-regular.ttf') format('truetype'),
         url('font/NotoKR-Regular/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, select, input, textarea, a[href^="tel:"]:link {
    color: #383838;
    font-weight: normal;
	font-size:12px;
	font-family:'notokr-medium','돋움',Dotum,sans-serif;
	letter-spacing:-0.5px;
}

iframe{z-index:1;}
ol,ul,li {
	list-style:none;
}

.clear{clear:both;}
.show{display:block;}
.hide{display:none;}



/* LAYOUT */
#wrap{position:relative;width:100%;z-index:1;}
#headerwrap{height:105px;border-bottom:1px solid #d8d8d8;}
#header{background-color: none;
	border-bottom: 2px solid #808080;
	font-family: helvetica, arial, sans-serif;
	position:absolute;
	top: 0;
	width: 100%;
	z-index: 110;
	
	transition: top 0.5s ease;}

#container{width:100%;max-width:1200px;margin:40px auto 0;}

.tabMenu01{position:relative;margin-top:30px;background:url('images/tabMenu01_bg.gif') repeat-x 0 100%;}
.tabMenu01 ul{overflow:hidden;}
.tabMenu01 li{float:left;width:15.17%;text-align:center;}
.tabMenu01 li a{display:block;font-size:16px;line-height:55px;color:#838383;border:1px solid #d8d8d8;border-bottom:1px solid #ee204d;}
.tabMenu01 li:first-child a{border-left:1px solid #d8d8d8;}
.tabMenu01 li.current a{color:#ee204d;text-decoration:underline;border-color:#ee204d;border-bottom:1px solid #fff;}
.tabMenu01 .search{position:absolute;right:0;top:0;}
.tabMenu01 .search .formText{margin-right:-1px;}



.paging{margin-top:30px;text-align:center;}
.paging a{display:inline-block;width:40px;height:40px;font-size:19px;line-height:40px;border:1px solid #d8d8d8;border-left:none;vertical-align:middle;}
.paging a.page_img{margin-left:-1px;border:none;}
.paging a.page_first{margin-left:0;}
.paging strong{display:inline-block;width:40px;height:40px;color:#fff;margin-left:-1px;font-size:19px;line-height:40px;background:#848484;vertical-align:middle;}



/* 리스트_매장 */
.bbsList02{margin-top:10px;border-top:2px solid #383838;}
.bbsList02 .innerbox{border:1px solid #d8d8d8;border-top:none;}
.bbsList02 table{width:100%;}
.bbsList02 thead{border-bottom:2px solid #000; background-color: #00b4aa; }
.bbsList02 td{padding:16px 0 14px;font-size:16px;line-height:22px;min-height:51px;border-top:1px solid #d8d8d8;}
.bbsList02 td.num{width:100px;text-align:center;}
.bbsList02 td.title{padding-right:10.66%;background:url('') no-repeat 93.89% 50%;}

.bbsList02 tr.current td.title{background-image:url('');}
.bbsList02 td em{color:#1db3a8;padding-right:4px;}
.bbsList02 tr:first-child td{border-top:none;}
.bbsList02 tr td{cursor:pointer;}
.bbsList02 tr.faq_a{display:none;}
.bbsList02 tr.faq_a td{padding-top:2px;border-top:none;background:#f7f7f7 url('images/bg_dotted_line.gif') repeat-x 0 0;}
.bbsList02 tr.faq_a td .faq_a_box{position:relative;padding:12px 100px 18px 115px;}
.bbsList02 tr.faq_a td .faq_a_box em{position:absolute;left:100px;top:12px;}





/* 리스트 게임이미지 */
.bbsList04{overflow:hidden;margin:30px -5px 40px;}
.bbsList04{list-style: none;}

.bbsList04 li .box{padding:19px 18px 8px;border:1px solid #d8d8d8;box-shadow:2px 2px 2px #f2f2f2;}
.bbsList04 li .box .thum{text-align:center;}
.bbsList04 li .box .thum img{width:119px;height:119px;}
.bbsList04 li .desc {border:1px solid #d8d8d8; padding:16px; border-top:0px;}
.bbsList04 li .title{margin:5px 0 13px;font-size:20px;line-height:24px;height:50px;overflow:hidden;}
.bbsList04 li table{width:100%;}
.bbsList04 li th{font-size:12px;line-height:26px;color:#9d9d9d;text-align:left;}
.bbsList04 li th img{margin-right:5px;line-height:0;vertical-align:middle;}
.bbsList04 li td{font-size:14px;line-height:26px;text-align:right;}

.bbsList04 li{float:left;width:20%;padding:0 5px;margin-bottom:10px;}
.bbsList04 li .thum {border:1px solid #d8d8d8;position:relative;text-align:center;}
.bbsList04 li .thum img{width:100%;}
.bbsList04 li .thum .over{position:absolute;left:0;top:0;width:100%;height:100%;background:url('images/event_close_over.png');}
.bbsList04 li .thum .over span{position:absolute;right:0;top:0;display:inline-block;padding:5px 10px 3px;font-size:16px;color:#fff;background:#d03333;}
.bbsList04 li dl{padding:18px; border:1px solid #d8d8d8; border-top:none;}
.bbsList04 li dt{margin:10px 0 13px; font-size:20px; line-height:24px; height:24px; overflow:hidden; text-align:left;}
.bbsList04 li dt a{color:#333;}
.bbsList04 li dd ul{overflow:hidden;}
.bbsList04 li dd li{display:block; width:100%;height:28px;padding:0;margin-bottom:0;font-size:14px;color:#666;white-space:nowrap;}
.bbsList04 li dd li:nth-child(2n+2){width:48%;}
.bbsList04 li dd li:nth-child(5){width:100%;text-transform:uppercase;white-space:normal;}
.bbsList04 li dd li img{margin-right:10px;vertical-align:middle;}

.bbsList04 li dd table{width:100%;}
.bbsList04 li dd th{font-size:14px;line-height:26px;color:#9d9d9d;text-align:left;}
.bbsList04 li dd th img{margin-right:8px;line-height:0;vertical-align:middle;}
.bbsList04 li dd td{font-size:14px;line-height:26px;text-align:right;}


/* 버튼 */
.btnMatching{display:inline-block; font-size:16px;line-height:48px;text-align:center;color:white;border:1px solid #ee204d;background:#ee204d; padding:0 20px;}
.btnWhite02{display:inline-block;width:220px;font-size:16px;line-height:48px;text-align:center;color:#838383;border:1px solid #838383;background:#fff;}
.btnRed01{border:none;color: white;background-color: #d03333;	padding: 15px 32px;	text-align: center;	text-decoration: none;	display: inline-block;	font-size: 16px;	margin: 4px 2px;cursor:pointer;}

/*별점 평점*/
.star-ratings {
	color: #aaa9a9; 
	position: relative;
	unicode-bidi: bidi-override;
	width: max-content;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: #2b2a29;
  }
   
  .star-ratings-fill {
	color: #fff58c;
	padding: 0;
	position: absolute;
	z-index: 1;
	display: flex;
	top: 0;
	left: 0;
	overflow: hidden;
	
  }
   
  .star-ratings-base {
	z-index: 0;
	padding: 0;
  }


/* 보드게임 */
.gameList{position:relative;}
.gameList .visual{margin-bottom:150px;}
.gameList .sortSelect{left:0;top:0px;width:100%;margin-top:0;padding-top:10px; box-sizing:border-box; text-align: center;}
.sortSelect h3{display:none;}
.sortSelect>ul:after{content:"";clear:both;}
.sortSelect>ul>li{float:left;width:20%;position:relative;}
.sortSelect li dt{padding-left:7.5%;font-size:16px;line-height:48px;cursor:pointer;border:1px solid #d8d8d8;border-left:none;background:url('images/tab_menu_arrow.gif') no-repeat 85% 50%;}
.sortSelect>ul>li:first-child dt{border-left:1px solid #d8d8d8;}
.sortSelect li dd{display:none;position:absolute;left:-1px;top:50px;width:100%;background:#f0f0f0;border:1px solid #dadada;border-top:none; z-index:1;}
.sortSelect>ul>li:first-child dd{left:0;}
.sortSelect li dd li{padding:0 17px;font-size:16px;line-height:48px;border-top:1px solid #dadada;}
.sortSelect li dd li:first-child{border-top:none;}
.sortSelect li dd li input{vertical-align:middle;margin-right:5px;}

.gameDetail{margin-top:30px;border-top:2px solid #383838;}
.gameDetail .gameInfo{position:relative;margin-bottom:80px;padding:38px 40px 0;}
.gameDetail .gameInfo h2{font-size:30px;color:#333;}
.gameDetail .gameInfo h2 span{padding-left:10px;font-size:16px;}
.gameDetail .gameInfo .innerbox{display:table;width:100%;table-layout:fixed;margin-top:23px;}
.gameDetail .gameInfo .thum{display:table-cell;width:41.25%; vertical-align:top;}
.gameDetail .gameInfo .thum img{width:100%;}
.gameDetail .gameInfo .infoBox{width:auto;padding-left:30px;}
.gameDetail .gameInfo .infoBox .info{padding:0 16px; display:block; height:auto;}
.gameDetail .gameInfo .infoBox .info li{position:relative;padding-left:141px;font-size:16px;line-height:26px;height:auto;color:#838383;background:url('images/icon_dot03.png') no-repeat 0 10px;}
.gameDetail .gameInfo .infoBox .info li em{position:absolute;left:14px;top:0;display:inline-block;width:127px;color:#333;}
.gameDetail .gameInfo .infoBox ul.info:first-child{margin-bottom:20px;padding:24px 15px 22px;border:1px solid #dedede;background:#f8f8f8;}
.gameDetail .gameInfo .infoBox p.order{margin-top:37px;}
.gameDetail .gameInfo .infoBox p.order em{padding-right:29px;font-size:20px;}
.gameDetail .gameInfo .infoBox p.order a{display:inline-block;width:194px;line-height:37px;font-size:16px;color:#fff;text-align:center;background:#6497f0;}
.gameDetail .tabMenu01{margin-top:50px;}
.gameDetail #gameIntro{margin-top:30px;border:1px solid #d9d9d9;}
.gameDetail #gameIntro>dl:first-child{margin:30px;border-bottom:1px solid #d9d9d9;}
.gameDetail #gameIntro>dl div {max-width:780px; margin:0 auto;}
.gameDetail #gameIntro>dl p {max-width:780px; margin:0 auto;}
.gameDetail #gameIntro dt{font-size:20px;color:#333;}
.gameDetail #gameIntro dt img{margin-right:10px;vertical-align:middle;}
.gameDetail #gameIntro dd{margin-top:12px;padding-bottom:22px;font-size:16px;line-height:24px;color:#838383;}
.gameDetail #gameStore h3{margin:49px 0 19px;font-size:20px;color:#333;}
.gameDetail #gameStore h3:first-child{margin-top:29px;}
.gameDetail #gameStore li b{margin: 5 5 5 5; padding: 0 0 0 0; border : 0; float: left;}
.gameDetail #gameStore 
.gameDetail #gameGuide h3{margin:49px 0 19px;font-size:20px;color:#333;}
.gameDetail #gameGuide h3:first-child{margin-top:29px;}

/*Youtube load speed for Explorer*/

/*매장상세보기*/
.linkStore:hover {
	color: #5CAAEF;
	transform: scale(1.1);
  }
  
  .bbsList02 .linkStore:before {
	content: '';
	border-bottom: solid 1px #5CAAEF;
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	opacity: 0;
  }

  .bbsList02 .linkStore:hover:before {
	  opacity: 1.0;
  }


  .linkStore:before {
	content: '';
	border-bottom: solid 1px #5CAAEF;
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	
	opacity: 0;
  }
  
  .linkStore, .linkStore:before {
	transition: all 0.2s ease;
  }
