@charset "utf-8";

body, select, input, textarea, a[href^="tel:"]:link {
    color: #383838;
    font-weight: normal;
	font-size:12px;
	font-family:'notokr-medium','돋움',Dotum,sans-serif;
	letter-spacing:-0.5px;
}

iframe{z-index:1;}

.clear{clear:both;}
.show{display:block;}
.hide{display:none;}


/* LAYOUT */
#wrap{position:relative;width:100%;z-index:1;}
#headerwrap{height:105px;border-bottom:1px solid #d8d8d8;}
#header{background-color: #000;
	border-bottom: 2px solid #808080;
	font-family: helvetica, arial, sans-serif;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 110;
	-moz-transition: top 0.5s ease;
	-o-transition: top 0.5s ease;
	-webkit-transition: top 0.5s ease;
	transition: top 0.5s ease;}

#container{width:100%;max-width:1200px;margin:40px auto 0;}
.tabMenu01 dt{display:none;}
.tabMenu01 ul{overflow:hidden;padding-top:10px;}
.tabMenu01 li{float:left;width:221px;margin-right:-1px;font-size:16px;text-align:center;}
.tabMenu01 li a{display:block;height:65px;color:#848484;line-height:65px;border:1px solid #d8d8d8;}
.tabMenu01 li.current a{color:#fff;background:#848484;}

.tabMenu02{position:relative;margin-top:30px;background:url('images/tabMenu02_bg.gif') repeat-x 0 100%;}
.tabMenu02 ul{overflow:hidden;}
.tabMenu02 li{float:left;width:15.17%;text-align:center;}
.tabMenu02 li a{display:block;font-size:16px;line-height:55px;color:#838383;border:1px solid #d8d8d8;border-bottom:1px solid #1db3a8;border-left:1px solid #1db3a8;}
.tabMenu02 li:first-child a{border-left:1px solid #d8d8d8;}
.tabMenu02 li.current a{color:#1db3a8;text-decoration:underline;border-color:#1db3a8;border-bottom:1px solid #fff;}
.tabMenu02 li.current_l a{border-right:1px solid #1db3a8;}
.tabMenu02 li.current

.tabMenu02 .search{position:absolute;right:0;top:0;}
.tabMenu02 .search .formText{margin-right:-1px;}

.visual{position:relative;margin-top:10px;padding:49px 65px 43px 49px;border:1px solid #d8d8d8;box-shadow:2px 2px 2px #f2f2f2;}
.visual h2{font-size:50px;color:#1db3a8; font-weight:normal;}
.visual p{margin-top:13px;font-size:24px;line-height:32px;color:#838383; font-family:notokr-regular;}
.visual .img{position:absolute;right:65px;bottom:28px;}
.visual .img img {width:190px;}
.news_visual, .game_visual, .publishing_visual, .company_visual{height:255px;}
.news_visual .img{right:41px;bottom:19px;}
.game_visual .img{right:73px;bottom:20px;}
.publishing_visual .img{right:73px;bottom:26px;}
.company_visual .img{right:67px;bottom:39px;}


.bbs_sort{position:relative;margin-top:30px;text-align:right;}
.bbs_sort .sort{position:absolute;left:0;top:0;}
.bbs_sort .search .formText{margin:0 -1px 0 10px;}

.paging{margin-top:30px;text-align:center;}
.paging a{display:inline-block;width:40px;height:40px;font-size:19px;line-height:40px;border:1px solid #d8d8d8;border-left:none;vertical-align:middle;}
.paging a.page_img{margin-left:-1px;border:none;}
.paging a.page_first{margin-left:0;}
.paging strong{display:inline-block;width:40px;height:40px;color:#fff;margin-left:-1px;font-size:19px;line-height:40px;background:#848484;vertical-align:middle;}



/* 리스트_텍스트 */
.bbsList01{margin-top:10px;border-top:2px solid #383838;}
.bbsList01 .innerbox{border:1px solid #d8d8d8;}
.bbsList01 table{width:100%;}
.bbsList01 td{font-size:16px;line-height:50px;color:#838383;text-align:center;}
.bbsList01 td em{color:#1db3a8;}
.bbsList01 td.num, .bbsList01 td a{color:#383838;}
.bbsList01 td.hit{color:#00b4aa;}
.bbsList01 td p{padding:0 10px;text-align:left;}
.bbsList01 td p.title em.notice{display:none;}
.bbsList01 td img.icon_new{margin-left:9px;vertical-align:-3px; width:20px;}
.bbsList01 td img.icon_hit{margin-right:7px;vertical-align:middle;}
.bbsList01 tr:nth-child(2n+2) td{background:#f6f6f6;}
.bbsList01 td p.date{display:none;}
.bbsList01 td p.date em{padding-left:10px;color:#00b4aa;}

/* 리스트_이미지+텍스트 */
.bbsList02{margin-top:10px;border-top:2px solid #383838;}
.bbsList02>li{display:table;width:100%;table-layout:fixed;padding:30px;border-top:1px solid #dedede;}
.bbsList02>li:first-child{border-top:none;}
.bbsList02>li .thum{display:table-cell;overflow:hidden;width:235px;padding-right:20px;vertical-align:top;position:relative;}
.bbsList02>li .thum img{max-width:100%;}
.bbsList02>li .thum .over{position:absolute;left:0;top:0;width:92.6%;height:100%;background:url('images/event_close_over.png');}
.bbsList02>li .thum .over span{position:absolute;right:0;top:0;display:inline-block;padding:5px 10px 3px;font-size:16px;color:#fff;background:#d03333;}
.bbsList02>li dl{width:auto;display:table-cell;vertical-align:top;}
.bbsList02>li dt{margin-bottom:9px;font-size:20px;}
.bbsList02>li dd{font-size:16px;line-height:26px;}
.bbsList02>li dl em{color:#1db3a8;}
.bbsList02>li dd.date{margin-top:21px;}
.bbsList02>li dd.date em{padding-left:10px;}
.bbsList02>li dd.txt{height:52px;overflow:hidden;}
.bbsList02>li img.icon_new{margin-left:9px;vertical-align:middle;}
.bbsList02>li img.icon_hit{margin-right:7px;vertical-align:middle;}
.bbsList02>li dd.game_info{margin:13px 0 10px;}
.bbsList02>li dd.game_info li{display:inline-block;font-size:16px;padding-left:14px;margin-left:10px;background:url('images/sort_section.gif') no-repeat 0 5px;}
.bbsList02>li dd.game_info li img {vertical-align:middle; margin-right:5px;}
.bbsList02>li dd.game_info li:first-child{margin-left:0;padding-left:0;background:none;}
.bbsList02_game{margin-top:30px;border-bottom:1px solid #dedede;}
.bbsList02_game>li{border-left:1px solid #dedede;border-right:1px solid #dedede;}
.bbsList02_game>li .thum img{border:1px solid #d8d8d8;}
.bbsList02_game>li dd.txt{height:78px;color:#838383;}

/* 리스트_이미지 */
.bbsList03{overflow:hidden;margin:10px -9px -30px;}
.bbsList03 li{float:left;width:25%;padding:0 9px 30px;cursor:pointer;}
.bbsList03 li:nth-child(1n+4){padding-right:7px;}
.bbsList03 li .thum{display:table;width:100%;table-layout:fixed;height:100%;background:url('/images/news/no_thum.jpg') no-repeat;background-size:100% 100%;}
.bbsList03 li dl{display:table-cell;width:100%;padding:0 15px;color:#fff;line-height:26px;text-align:center;vertical-align:middle;background:url('images/bbs_thum_over.png'); transition:.4s all; opacity:1.0;}
.bbsList03 li dt{margin-bottom:9px;font-size:18px;text-shadow:1px 1px 3px #1c1c1c; font-family:'notokr-regular'; font-weight:normal;}
.bbsList03 li dt em{color:#1db3a8;}
.bbsList03 li dd{font-size:16px;text-shadow:1px 1px 3px #1c1c1c;}
.bbsList03 li dd.cate{margin-bottom:9px;font-size:16px; color:#1db3a8;}
.bbsList03 li dd.date{margin-top:16px;padding-top:16px;background:url('images/bbs_list03_bar02.png') no-repeat 50% top;}
.bbsList03 li dd.hit{margin-top:6px;color:#1db3a8;}
.bbsList03 li img.icon_hit{margin-right:7px;vertical-align:middle;}
.bbsList03 li:hover dl{opacity:0;}
.bbsList03 li:hover dd.date{background-image:url('images/bbs_list03_bar.gif')}
/* 리스트 게임이미지 */
.bbsList04{overflow:hidden;margin:30px -5px 40px;}
.bbsList04{list-style: none;}

.bbsList04 li .box{padding:19px 18px 8px;border:1px solid #d8d8d8;box-shadow:2px 2px 2px #f2f2f2;}
.bbsList04 li .box .thum{text-align:center;}
.bbsList04 li .box .thum img{width:119px;height:119px;}
.bbsList04 li .desc {border:1px solid #d8d8d8; padding:16px; border-top:0px;}
.bbsList04 li .title{margin:5px 0 13px;font-size:20px;line-height:24px;height:50px;overflow:hidden;}
.bbsList04 li table{width:100%;}
.bbsList04 li th{font-size:12px;line-height:26px;color:#9d9d9d;text-align:left;}
.bbsList04 li th img{margin-right:5px;line-height:0;vertical-align:middle;}
.bbsList04 li td{font-size:14px;line-height:26px;text-align:right;}

.bbsList04 li{float:left;width:20%;padding:0 5px;margin-bottom:10px;}
.bbsList04 li .thum {border:1px solid #d8d8d8;position:relative;text-align:center;}
.bbsList04 li .thum img{width:100%;}
.bbsList04 li .thum .over{position:absolute;left:0;top:0;width:100%;height:100%;background:url('images/event_close_over.png');}
.bbsList04 li .thum .over span{position:absolute;right:0;top:0;display:inline-block;padding:5px 10px 3px;font-size:16px;color:#fff;background:#d03333;}
.bbsList04 li dl{padding:18px; border:1px solid #d8d8d8; border-top:none;}
.bbsList04 li dt{margin:10px 0 13px; font-size:20px; line-height:24px; height:24px; overflow:hidden; text-align:left;}
.bbsList04 li dt a{color:#333;}
.bbsList04 li dd ul{overflow:hidden;}
.bbsList04 li dd li{display:block; width:100%;height:28px;padding:0;margin-bottom:0;font-size:14px;color:#666;white-space:nowrap;}
.bbsList04 li dd li:nth-child(2n+2){width:48%;}
.bbsList04 li dd li:nth-child(5){width:100%;text-transform:uppercase;white-space:normal;}
.bbsList04 li dd li img{margin-right:10px;vertical-align:middle;}

.bbsList04 li dd table{width:100%;}
.bbsList04 li dd th{font-size:14px;line-height:26px;color:#9d9d9d;text-align:left;}
.bbsList04 li dd th img{margin-right:8px;line-height:0;vertical-align:middle;}
.bbsList04 li dd td{font-size:14px;line-height:26px;text-align:right;}

.brand_cont iframe {padding:25px 0; border-bottom:1px dashed #bbb;}

.listType{overflow:hidden;margin:50px 0 -20px;}
.listType li{float:right;padding-left:7px;}
.listType li.sortB select{width:130px;height:32px;font-size:14px;margin-left:3px;}
.listType li.sort{margin-left:8px;padding-left:11px;font-size:14px;line-height:32px;background:url('images/sort_section.gif') no-repeat 0 9px;}
.listType li.sort a.current{padding-left:17px;background:url('images/icon_check.gif') no-repeat 0 0;}
.listType li.sort01{margin-left:0;padding-left:0;background:none;}
/* 게시판 상세보기 */
.bbsView01{margin-top:10px;border-top:2px solid #383838;} 
.bbsView01 dl{border:1px solid #d8d8d8;border-top:none;}
.bbsView01 dt{padding:0 30px;border-bottom:1px solid #d8d8d8;}
.bbsView01 dt table{width:100%;font-size:16px;}
.bbsView01 dt td{width:auto;height:49px;}
.bbsView01 dt td.title em{color:#1db3a8;}
.bbsView01 dt td.title em.notice{padding-right:30px;}
.bbsView01 dt td.title .date{display:none;}
.bbsView01 dt td img.icon_new{margin-left:9px;vertical-align:middle;}
.bbsView01 dt td.date{width:97px;text-align:right;white-space:nowrap;}
.bbsView01 dt td.hit{width:76px;color:#1db3a8;text-align:right;white-space:nowrap;}
.bbsView01 dt img.icon_hit{margin-right:7px;vertical-align:middle;}
.bbsView01 dd{padding:16px 30px 30px;}

.bbsView01 dd .bbsCont{font-size:16px;line-height:24px;}
.bbsView01 dd .bbsSns{margin-top:86px;text-align:right;}
.bbsView01 dd .bbsSns li{display:inline;margin-left:7px;}
.bbsView01 dd .bbsSns li img{vertical-align:middle;}
.bbsView01 dd .bbsSns li:first-child{margin-left:0;padding-right:10px;}

/* 이벤트 상세보기 */
.bbsView02 dt{font-size:16px;line-height:50px;}
.bbsView02 dd.period{padding:0 30px;font-size:16px;line-height:50px;color:#333;border-bottom:1px solid #d8d8d8;}
.bbsView02 dd.period em{color:#39b9af;}
.bbsView02 dd.period img{margin:0 7px 0 0;vertical-align:middle;}
.bbsView02 dd.period span.pay{display:inline-block;margin-left:10px;padding:0 10px;color:#fff;background:#eda635;}
.bbsView02 .eventView01{overflow:hidden;padding:14px 0 50px;}
.bbsView02 .eventView01 ul{float:left;}
.bbsView02 .eventView01 ul:first-child{padding-right:60px;}
.bbsView02 .eventView01 li{position:relative;padding-left:109px;font-size:16px;line-height:30px;color:#666;background:url('images/icon_dot03.png') no-repeat 0 12px;}
.bbsView02 .eventView01 li em{position:absolute;left:19px;top:0;display:inline-block;width:70px;margin-right:20px;color:#333;background:url('images/event_colon.png') no-repeat 100% 9px;}
.bbsView02 .eventView02 .img img{max-width:100%;}

.bbsView02 .eventView02 .btn{display:block; margin:34px auto 0;text-align:center; letter-spacing:-1px;}
.bbsView02 .eventView02 .btn a{width:200px; margin:0 auto; height:50px;font-size:24px;line-height:50px;color:#fff;background:#1db3a8;border-radius:0%; padding:15px 30px;}



/* 이벤트_이미지+텍스트 */
.bbsEvent01{margin-top:50px;}
.bbsEvent01>li{display:table;width:100%;table-layout:fixed;margin-bottom:30px;padding:30px 30px 25px;border:1px solid #d9d9d9;}
.bbsEvent01 li .thum{position:relative;display:table-cell;overflow:hidden;width:200px;vertical-align:top;}
.bbsEvent01 li .thum img{width:100%;}
.bbsEvent01 li .thum .over{position:absolute;left:0;top:0;width:200px;height:214px;background:url('images/event_close_over.png');}
.bbsEvent01 li .thum .over span{position:absolute;right:0;top:0;display:inline-block;padding:5px 10px 3px;font-size:16px;color:#fff;background:#d03333;}
.bbsEvent01 li dl{width:auto;display:table-cell;vertical-align:top;padding:0 20px 0 30px;}
.bbsEvent01 li dt{font-size:30px;}
.bbsEvent01 li dd{font-size:16px;line-height:26px;color:#666;}
.bbsEvent01 li dd.period{margin:19px 0 5px;color:#333;}
.bbsEvent01 li dd.period em{color:#39b9af;}
.bbsEvent01 li dd.period img{margin:2px 7px 0 0;vertical-align:top;}
.bbsEvent01 li dd.period span.pay{display:inline-block;margin-left:10px;padding:0 10px;color:#fff;background:#eda635;}
.bbsEvent01 li dd.txt{height:130px;overflow:hidden;}
.bbsEvent01 li .info{display:table-cell;width:223px;padding-left:42px;border-left:1px solid #d7d7d7;vertical-align:middle;}
.bbsEvent01 li .info .capacity{margin:-15px 0 13px;}
.bbsEvent01 li .info .capacity li{font-size:30px;line-height:60px;color:#000;}
.bbsEvent01 li .info .capacity li span{display:inline-block;width:90px;}
.bbsEvent01 li .info .capacity li em{display:inline-block;width:90px;color:#1db3a8;text-align:right;}
.bbsEvent01 li .info .btn_ing{margin-bottom:6px;}
.bbsEvent01 li .info .btn_ing a img{margin-right:7px;vertical-align:middle;}
.bbsEvent01 li .info .btn_close{margin-bottom:6px;}
.bbsEvent01 li .info .btn_close a{width:180px;line-height:50px;}


/* 버튼 */
.btnGray01{display:inline-block;width:140px;font-size:16px;line-height:48px;text-align:center;color:#fff;background:#848484;border:1px solid #d8d8d8;}
.btnBlack01{display:inline-block;width:180px;font-size:16px;line-height:50px;text-align:center;color:#fff;background:#383838;}
.btnGreen01{display:inline-block;width:180px;font-size:16px;line-height:45px;text-align:center;color:#fff;background:#1db3a8;}
.btnWhite01{display:inline-block;width:220px;font-size:16px;line-height:48px;text-align:center;color:#1db3a8;border:1px solid #1db3a8;background:#fff;}
.btnRequest{display:inline-block; font-size:16px;line-height:48px;text-align:center;color:#1db3a8;border:1px solid #1db3a8;background:#fff; padding:0 20px;}
.btnWhite02{display:inline-block;width:220px;font-size:16px;line-height:48px;text-align:center;color:#838383;border:1px solid #838383;background:#fff;}
.btnRed01{border:none;color: white;background-color: #d03333;	padding: 15px 32px;	text-align: center;	text-decoration: none;	display: inline-block;	font-size: 16px;	margin: 4px 2px;cursor:pointer;}

.btn_c{margin-top:30px;text-align:center;}
.btn_c li{display:inline;padding-left:22px;}
.btn_c li:first-child{padding-left:0;}
.btn_lr{position:relative;margin-top:10px;}
.btn_lr{text-align:right;}
.btn_lr .btn a.btnGreen01{width:120px;line-height:50px;}
.btn_lr .btn_prevnext{position:absolute;left:0;top:0;}
.btn_lr .btn_prevnext a{display:inline-block;width:119px;font-size:16px;line-height:48px;text-align:center;border:1px solid #d8d8d8;background:#fff;}
.btn_lr .btn_prevnext a.prev img{padding-right:20px;vertical-align:middle;}
.btn_lr .btn_prevnext a.next img{padding-left:20px;vertical-align:middle;}
.btn_lr .btn_prevnext a.next{width:118px;border-left:none;}
.bbs_prevnext{display:none;margin-top:10px;border-top:1px solid #dcdcdc;}
.bbs_prevnext table{width:100%;text-align:left;}
.bbs_prevnext th{width:100px;height:35px;padding:0 15px;white-space:nowrap;font-size:14px;border-bottom:1px solid #dcdcdc;background:#f3f3f3;}
.bbs_prevnext th img{margin-right:10px;width:13px;vertical-align:middle;}
.bbs_prevnext th img.mImg{display:none;}
.bbs_prevnext td{height:35px;font-size:14px;padding-right:10px;border-bottom:1px solid #dcdcdc;background:#f3f3f3;}
.bbs_prevnext td em{color:#1db3a8;}
.btn_lr02{position:relative;margin-top:30px;text-align:right;}
.btn_lr02 .left a, .btn_lr02 .right a{width:120px;line-height:50px;}
.btn_lr02 .left{position:absolute;}
.btn_lr02 .right span{padding-left:10px;}


/* 보드게임 */
.gameList{position:relative;}
.gameList .visual{margin-bottom:150px;}
.gameList .sortSelect{position:absolute;left:0;top:339px;width:100%;margin-top:0;padding-top:51px; box-sizing:border-box;}
.sortSelect h3{display:none;}
.gameDetail{margin-top:30px;border-top:2px solid #383838;}
.gameDetail .gameInfo{position:relative;margin-bottom:80px;padding:38px 40px 0;}
.gameDetail .gameInfo h2{font-size:30px;color:#333;}
.gameDetail .gameInfo h2 span{padding-left:10px;font-size:16px;}
.gameDetail .gameInfo .innerbox{display:table;width:100%;table-layout:fixed;margin-top:23px;}
.gameDetail .gameInfo .thum{display:table-cell;width:41.25%; vertical-align:top;}
.gameDetail .gameInfo .thum img{width:100%;}
.gameDetail .gameInfo .infoBox{width:auto;padding-left:30px;}
.gameDetail .gameInfo .infoBox .info{padding:0 16px; display:block; height:auto;}
.gameDetail .gameInfo .infoBox .info li{position:relative;padding-left:141px;font-size:16px;line-height:26px;height:auto;color:#838383;background:url('images/icon_dot03.png') no-repeat 0 10px;}
.gameDetail .gameInfo .infoBox .info li em{position:absolute;left:14px;top:0;display:inline-block;width:127px;color:#333;}
.gameDetail .gameInfo .infoBox ul.info:first-child{margin-bottom:20px;padding:24px 15px 22px;border:1px solid #dedede;background:#f8f8f8;}
.gameDetail .gameInfo .infoBox p.order{margin-top:37px;}
.gameDetail .gameInfo .infoBox p.order em{padding-right:29px;font-size:20px;}
.gameDetail .gameInfo .infoBox p.order a{display:inline-block;width:194px;line-height:37px;font-size:16px;color:#fff;text-align:center;background:#6497f0;}
.gameDetail .tabMenu02{margin-top:50px;}
.gameDetail #gameIntro{margin-top:30px;border:1px solid #d9d9d9;}
.gameDetail #gameIntro>dl:first-child{margin:30px;border-bottom:1px solid #d9d9d9;}
.gameDetail #gameIntro>dl div {max-width:780px; margin:0 auto;}
.gameDetail #gameIntro>dl p {max-width:780px; margin:0 auto;}
.gameDetail #gameIntro dt{font-size:20px;color:#333;}
.gameDetail #gameIntro dt img{margin-right:10px;vertical-align:middle;}
.gameDetail #gameIntro dd{margin-top:12px;padding-bottom:22px;font-size:16px;line-height:24px;color:#838383;}
.gameDetail #gameStore h3{margin:49px 0 19px;font-size:20px;color:#333;}
.gameDetail #gameStore h3:first-child{margin-top:29px;}
.gameDetail #gameStore li b{margin: 5 5 5 5; padding: 0 0 0 0; border : 0; float: left;}
.gameDetail #gameStore 
.gameDetail #gameGuide h3{margin:49px 0 19px;font-size:20px;color:#333;}
.gameDetail #gameGuide h3:first-child{margin-top:29px;}


